@charset "utf-8";
body {
	background-image: url("../images/background.png");
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Top Navigation Bar */

#masthead {
	width: 970px;
	margin: 0 auto;
}

#logo {
	float: left;
	width: 350px;
	height: 75px;
}

#navigation {
	float: right;
	height: 75px;
	margin-bottom: 10px;
}

#navigation a {
	color: black;
	text-decoration: none;
	font-size: 24px;
	text-align: center;
	line-height: 75px;
}

#aboutnav, #librarynav, #locationsnav, #contactnav {
	display: inline-block;
	width: 150px;
	height: 75px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #B0D7FF;
	margin: -1px;
}

#aboutnav:hover, #librarynav:hover, #locationsnav:hover, #contactnav:hover {
	background-color: white;
}

/* Content */

p {
	font-size: 18px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 0px;
	padding-bottom: 10px;
	
}

#main, #librarymain, #bestsellers, #hours {
	background-color: white;
	border: 1px solid black;
	margin: 20px;
}

#main, #librarymain, #bestsellers {
	margin-top: 10px;
}

#left {
	float: left;
	width: 600px;
	height: 500px;
}

#right {
	float: right;
	width: 325px;
	height: 500px;
}

#main {
	width: 600px;
	height: 475px;
}

#librarymain {
	width: 600px;
	height: 675px;
}

#main p, #librarymain p {
	font-size: 15px;
}

#bestsellers {
	height: 300px;
}

#bestsellers p {
	font-size: 16px;
}

#hours {
	height: 150px;
}

#footer, #libraryfooter {
	clear: both;
	text-align: center;
	font-size: 16px;
	padding: 20px;
}

#libraryfooter {
	transform: translateY(325%);
}

h3 {
	text-align: center;
	font-size: 22px;
}

.bottomlink {
	text-align: center;
}

#book1 {
	float: right;
	padding: 20px;
	padding-top: 0px;
}

.book2 {
	padding: 10px;
}

.book3 {
	padding: 5px;
}

table {
	margin: 0 auto;
	text-align: center;
}

#map {
	float: right;
	height: 350px;
	width: 350px;
	margin: 20px;
}

h5 {
	margin-left: 50px;
}

a {
	text-decoration: none;
}